<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class="jumbotron-wrapper d-flex justify-content-center align-items-center">
    <div class="custom-jumbotron bg-light p-5 rounded-lg m-3 text-center">
        <h1 class="display-4 jumbotron-header">PETGRAM</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-success btn-lg mx-2 mt-2" href="/register/" role="button">Register</a>
            <a class="btn btn-secondary btn-lg mx-2 mt-2" href="/accounts/login/" role="button">Login</a>
        </div>
    </div>
</div>

{% endblock %}