.jumbotron-header {
    font-weight: bold;
}

.register-form-container {
    margin-top: 10vh;
}

.register-form {
    margin: 0 20vw;
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
