<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">

	<div class="row">
		<div class="col-sm-3 left mr-1">
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action active" aria-current="true">
				    The current link item
				</a>
				<a href="#" class="list-group-item list-group-item-action">A second link item</a>
				<a href="#" class="list-group-item list-group-item-action">A third link item</a>
				<a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
				<a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
			</div>
		</div>
		<div class="col-sm-9 ml-1">
			{% for photo in photos %}
				<div class="row d-flex justify-content-center">
					<div class="col-sm-1"></div>
					<div class="col-sm-8 mx-1 my-3 d-flex">
						<div class="card" style="width: 30vw;">
							<img src="{{ photo.image.url }}" class="card-img-top img-fluid" alt="...">
							<div class="card-body d-flex flex-column justify-content-around">
								<h5 class="card-title">{{ photo.user.first_name }}</h5>
							</div>
						</div>
					</div>
					<div class="col-sm-3"></div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!--<div class="row">
		{% for photo in photos %}
			<div class="col-sm-12 col-md-6 col-lg-3 mx-1 my-3 d-flex align-items-stretch">
				<div class="card">
					<img src="{{ photo.image.url }}" class="card-img-top img-fluid" alt="...">
					<div class="card-body d-flex flex-column justify-content-around">
						<h5 class="card-title">{{ photo.user.first_name }}</h5>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>-->

</div>

{% endblock %}