<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class="container register-form-container d-flex justify-content-center">
	<div class="register-form p-5 bg-light">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<!--{% if form.errors %}
				<p class="text-warning"> Please enter a correct username and password.
					Note that both fields may be case-sensitive. </p>
			{% endif%}-->

			{% for field in form %}
				<div class="form-group mt-4 mb-2">
					{% if field.html_name == 'image' %}
						<label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
					    <input type="file" accept="image/x-png,image/gif,image/jpeg" class="form-control"
					           id="{{ field.id_for_label }}" name="{{ field.html_name }}">
					{% else %}
						<label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
					    <input type="text" class="form-control"
					           id="{{ field.id_for_label }}" name="{{ field.html_name }}">
					{% endif %}
				</div>
			{% endfor %}
			<button type="submit" value="Login" class="btn btn-primary mt-3">Submit</button>
		</form>
	</div>
</div>

{% endblock %}