<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class="container register-form-container d-flex justify-content-center">
	<div class="register-form p-5 bg-light">
		<form method="post">
			{% csrf_token %}

			{% if form.errors %}
				<p class="text-warning"> Please enter a correct username and password.
					Note that both fields may be case-sensitive. </p>
			{% endif%}
			<!--{% if form.errors %}
			      {% for field in form %}
			           {% for error in field.errors %}
			                {{field.label}}: {{ error|escape }}
			           {% endfor %}
			      {% endfor %}
			{% endif %}-->
			{% for field in form %}
				<div class="form-group mt-4 mb-2">
					{% if field.errors %}
						<p class="text-warning"> Error here! </p>
					{% endif %}
					<label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
				    <input type="{{ field.widget_type }}" class="form-control"
				           id="{{ field.id_for_label }}" placeholder="{{ field.html_name }}" name="{{ field.html_name }}">
				</div>
			{% endfor %}

			<!--<div class="form-group mt-4 mb-2">
			    <label for="password" class="form-label">Password:</label>
			    <input type="password" class="form-control" id="password" placeholder="password">
			</div>-->
			<button type="submit" value="Login" class="btn btn-primary mt-3">Submit</button>
		</form>
	</div>
</div>

{% endblock %}