<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class="container register-form-container d-flex justify-content-center">
	<div class="register-form p-5 bg-light">
		<form>
			<div class="form-group mt-4 mb-2">
				<label for="username" class="form-label">Username:</label>
			    <input type="text" class="form-control" id="username" placeholder="username">
			</div>
			<div class="form-group mt-4 mb-2">
			    <label for="password" class="form-label">Password:</label>
			    <input type="password" class="form-control" id="password" placeholder="password">
			</div>
			<div class="form-group mt-4 mb-2">
			    <label for="email" class="form-label">Email Address:</label>
			    <input type="email" class="form-control" id="email" placeholder="email@host.com">
			</div>
			<button type="submit" class="btn btn-primary mt-3">Submit</button>
		</form>
	</div>
</div>

{% endblock %}